<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lenceria Zoe</title>
</head>
<body>
    <h2>inicio</h2>
    <ul>
        <li><a href={% url 'inicio' %}>inicio</a></li>
        <li><a href={% url 'productos' %}>productos</a></li>
        <li><a href={% url 'formulario' %}>registrarse</a></li>
        

        {% if request.user.is_authenticated %}
            <li><a href={% url 'perfil' %}>Perfil</a></li>
            <li><a href={% url 'salir' %}>Salir</a></li>
            
        {% else %}
        <li><a href={% url 'login' %}>ingresar</a></li>
        {% endif %}

    </ul>

    {% block content %} {% endblock %} 
    
</body>
</html>