{% extends 'inicio.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="fondo">
  <div class="imagen-completa" style="background-image: url('{% static 'imagenes/ze2.jpg' %}'); "></div>
    <div class="contenido">
      <form action="" method="post">
        {% csrf_token %}
        <div class="card mx-auto-/">
          <!--<img src="{% static 'imagenes/icono.png' %}" class="img-thumbnail" alt="...">-->
            <div class="card-body">
              <h5 class="card-title"> INGRESE SUS CREDENCIALES</h5>
              {{ form | crispy }}
              <div>
                <p><a href="{% url 'password_reset' %}">Olvide mi Contraseña</a></p>
                <form action="{% url 'logout' %}" method="post">
              <button class="btn btn-sm btn-primary float-end" type='sumbmit'>INICIAR SESION</button>    
            </div>
        </div>
      </form>
    </div>
</div>  
</div>

{% endblock %}


